fullnameOverride: cert-manager
maxConcurrentChallenges: 60

crds:
  enabled: false
  keep: true

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi
webhook:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
  replicaCount: 3
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
cainjector:
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi
config:
  apiVersion: controller.config.cert-manager.io/v1alpha1
  kind: ControllerConfiguration
  kubernetesAPIQPS: 100
  kubernetesAPIBurst: 200
global:
  logLevel: 2
  leaderElection:
    namespace: cert-manager

extraArgs:
  - --dns01-recursive-nameservers=8.8.8.8:53,1.1.1.1:53
  - --dns01-recursive-nameservers-only
  - --cluster-resource-namespace=cert-manager
  - --enable-gateway-api
