apiVersion: apps/v1
kind: Deployment
metadata:
  name: transmission
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app: transmission
  template:
    metadata:
      labels:
        app: transmission
    spec:
      securityContext:
        fsGroup: 988
        fsGroupChangePolicy: "OnRootMismatch"
      volumes:
        - name: transmission
          persistentVolumeClaim:
            claimName: transmission
      containers:
        - name: transmission
          image: ghcr.io/linuxserver/transmission:4.0.6
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              memory: 256Mi
          ports:
            - name: http
              protocol: TCP
              containerPort: 9091
          volumeMounts:
            - name: transmission
              mountPath: /data
          env:
            - name: TZ
              value: "UTC"
            - name: PUID
              value: "1001"
            - name: PGID
              value: "988"
            - name: TRANSMISSION_CONFIG_DIR
              value: "/data/config"
            - name: TRANSMISSION_DOWNLOAD_DIR
              value: "/data/downloads"
