apiVersion: apps/v1
kind: Deployment
metadata:
  name: transmission
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app: transmission
  template:
    metadata:
      labels:
        app: transmission
    spec:
      securityContext:
        fsGroup: 988
        fsGroupChangePolicy: "OnRootMismatch"
      volumes:
        - name: transmission-config
          persistentVolumeClaim:
            claimName: transmission
        - name: transmission-downloads
          persistentVolumeClaim:
            claimName: transmission

      containers:
        - name: transmission
          image: ghcr.io/linuxserver/transmission:4.0.6
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              memory: 256Mi
          ports:
            - name: http
              protocol: TCP
              containerPort: 9091
          volumeMounts:
            - name: transmission-config
              mountPath: /config
              subPath: transmission/config
            - name: transmission-downloads
              mountPath: /downloads
              subPath: transmission/downloads
          env:
            - name: TZ
              value: "UTC"
            - name: PUID
              value: "1001"
            - name: PGID
              value: "988"
