apiVersion: v1
kind: PersistentVolume
metadata:
  name: transmission
spec:
  capacity:
    storage: 10Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  csi:
    driver: nfs.csi.k8s.io
    readOnly: false
    volumeHandle: transmission
    volumeAttributes:
      server: 192.168.1.10
      share: /var/nfs/shared/homelab
