apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: transmission
spec:
  volumeName: transmission
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 300Gi
