apiVersion: apps/v1
kind: Deployment
metadata:
  name: homebridge
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: homebridge
  template:
    metadata:
      labels:
        app: homebridge
    spec:
      securityContext:
        fsGroup: 988
        fsGroupChangePolicy: "OnRootMismatch"
      hostNetwork: true
      containers:
        - name: homebridge
          # renovate: datasource=docker depName=homebridge/homebridge
          image: homebridge/homebridge:2026-01-14
          imagePullPolicy: Always
          securityContext:
            readOnlyRootFilesystem: false
            runAsNonRoot: false
            allowPrivilegeEscalation: true
          env:
            - name: TERMINATE_ON_ERROR
              value: "1"
            - name: HOMEBRIDGE_CONFIG_UI
              value: "1"
            - name: HOMEBRIDGE_CONFIG_UI_PORT
              value: "8090"
            - name: PUID
              value: "1000"
            - name: PGID
              value: "988"
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 450Mi
          ports:
            - name: http
              protocol: TCP
              containerPort: 8090
          volumeMounts:
            - name: homebridge-config
              mountPath: /homebridge
          startupProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 0
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 0
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
      volumes:
        - name: homebridge-config
          persistentVolumeClaim:
            claimName: homebridge-config-pvc
