tunnel: Everest
credentials-file: /etc/cloudflared/credentials/credentials.json
metrics: 0.0.0.0:2000
no-autoupdate: true

warp-routing:
  enabled: true

originRequest:
  http2Origin: true

ingress:
  - hostname: "*.nidr0x.win"
    service: "https://cilium-ingress.kube-system:443"
    originRequest:
      noTLSVerify: true
      originServerName: "*.nidr0x.win"
  - hostname: "nidr0x.win"
    service: "https://cilium-ingress.kube-system:443"
    originRequest:
      noTLSVerify: true
      originServerName: "*.nidr0x.win"
  - service: http_status:404
