apiVersion: v1
kind: Service
metadata:
  name: cloudflared
  namespace: kube-system
  labels:
    app: cloudflared
spec:
  ports:
    - name: metrics
      port: 2000
      targetPort: 2000
      protocol: TCP
  selector:
    app: cloudflared
