apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
  - namespace.yaml
  - argocd-apps.yaml
  - argocd-setup.yaml
  - secret.yaml
  - argocd-project-everest.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 6.7.9
    releaseName: argocd
    valuesFile: values.yaml
    namespace: argocd
