apiVersion: apps/v1
kind: Deployment
metadata:
  name: teslamate
  namespace: teslamate
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: teslamate
  template:
    metadata:
      labels:
        app: teslamate
    spec:
      containers:
        - name: teslamate
          image: teslamate/teslamate:1.32.0
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 50m
              memory: 100Mi
            limits:
              memory: 356Mi
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          env:
            - name: ENCRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: teslamate
                  key: ENCRYPTION_KEY
            - name: DATABASE_USER
              value: "postgres"
            - name: DATABASE_PASS
              valueFrom:
                secretKeyRef:
                  name: teslamate
                  key: DATABASE_PASS
            - name: DATABASE_NAME
              value: "teslamate"
            - name: DATABASE_HOST
              value: "192.168.1.10"
            - name: MQTT_HOST
              value: "mqtt"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtt
  namespace: teslamate
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mqtt
  template:
    metadata:
      labels:
        app: mqtt
    spec:
      containers:
        - name: mqtt
          image: eclipse-mosquitto:2
          command: ["mosquitto", "-c", "/mosquitto-no-auth.conf"]
          ports:
            - containerPort: 1883
