---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: everest
endpoint: "https://192.168.1.90:6443"

# renovate: datasource=github-releases depName=siderolabs/talos
talosVersion: v1.12.4
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.2
allowSchedulingOnControlPlanes: false

cniConfig:
  name: none

nodes:
  - hostname: controlplane-01
    ipAddress: 192.168.1.90
    installDisk: /dev/sda
    controlPlane: true
    nodeLabels:
      topology.kubernetes.io/region: homelab
      topology.kubernetes.io/zone: pve
  - hostname: controlplane-02
    ipAddress: 192.168.1.91
    installDisk: /dev/sda
    controlPlane: true
    nodeLabels:
      topology.kubernetes.io/region: homelab
      topology.kubernetes.io/zone: pve
  - hostname: controlplane-03
    ipAddress: 192.168.1.92
    installDisk: /dev/sda
    controlPlane: true
    nodeLabels:
      topology.kubernetes.io/region: homelab
      topology.kubernetes.io/zone: pve
  - hostname: worker-01
    ipAddress: 192.168.1.100
    installDisk: /dev/sda
    nodeLabels:
      topology.kubernetes.io/region: homelab
      topology.kubernetes.io/zone: pve
  - hostname: worker-02
    ipAddress: 192.168.1.103
    installDisk: /dev/sda
    nodeLabels:
      topology.kubernetes.io/region: homelab
      topology.kubernetes.io/zone: pve
  - hostname: worker-03
    ipAddress: 192.168.1.102
    installDisk: /dev/sda
    nodeLabels:
      topology.kubernetes.io/region: homelab
      topology.kubernetes.io/zone: pve

worker:
  schematic:
    customization:
      extraKernelArgs:
        - net.ifnames=1
        - i915.enable_guc=3
        - init_on_alloc=0
        - init_on_free=0
        - intel_iommu=on
        - iommu=pt
        - mitigations=off
        - sysctl.kernel.kexec_load_disabled=1
        - talos.auditd.disabled=1
      systemExtensions:
        officialExtensions:
          - siderolabs/amd-ucode
          - siderolabs/amdgpu
          - siderolabs/qemu-guest-agent

controlPlane:
  schematic:
    customization:
      extraKernelArgs:
        - net.ifnames=1
        - i915.enable_guc=3
        - init_on_alloc=0
        - init_on_free=0
        - intel_iommu=on
        - iommu=pt
        - mitigations=off
        - sysctl.kernel.kexec_load_disabled=1
        - talos.auditd.disabled=1
      systemExtensions:
        officialExtensions:
          - siderolabs/amd-ucode
          - siderolabs/amdgpu
          - siderolabs/qemu-guest-agent

patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"
