---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json

rbac:
  bindings:
    system-upgrade-controller:
      type: ClusterRoleBinding
      roleRef:
        kind: ClusterRole
        name: cluster-admin
      subjects:
        - identifier: system-upgrade-controller

serviceAccount:
  system-upgrade-controller: {}

controllers:
  main:
    strategy: RollingUpdate
    replicas: 1
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
      tolerations:
        - key: CriticalAddonsOnly
          operator: Exists
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
    containers:
      main:
        image:
          repository: docker.io/rancher/system-upgrade-controller
          tag: v0.18.0
        env:
          - name: SYSTEM_UPGRADE_CONTROLLER_LEADER_ELECT
            value: "true"
          - name: SYSTEM_UPGRADE_CONTROLLER_NAME
            value: "system-upgrade-controller"
          - name: SYSTEM_UPGRADE_CONTROLLER_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: SYSTEM_UPGRADE_CONTROLLER_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: SYSTEM_UPGRADE_JOB_PRIVILEGED
            value: "false"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault

rawResources:
  talosServiceAccount:
    apiVersion: talos.dev/v1alpha1
    kind: ServiceAccount
    spec:
      roles:
        - os:admin
