resources:
  requests:
    memory: 100Mi
    cpu: 25m
  limits:
    memory: 200Mi
    cpu: 100m

sources:
  - ingress

provider: cloudflare

extraArgs:
  - --cloudflare-proxied
  - --annotation-filter=external-dns.alpha.kubernetes.io/target

env:
- name: CF_API_KEY
  valueFrom:
    secretKeyRef:
      name: external-dns
      key: CF_API_KEY
- name: CF_API_EMAIL
  valueFrom:
    secretKeyRef:
      name: external-dns
      key: CF_API_EMAIL
